@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900,900i');

body
{
	background:url('body.png') no-repeat;
	background-size:100%;
	display:none;
}

#top, #bottom, #left, #right {
	background: #d5767a;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 1%;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 2%;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

h1 {
	font-family: 'Lato';
	font-size: 35px;
	letter-spacing: 10px;
}

#close {
	font-family: 'Lato';
	font-size: 30px;
	float: right;	
	text-decoration: none;
	color: black;	
	text-align: right;
}

#header {
	padding-top: 5%;
}

#main_container {
	font-family: 'Lato';
	text-align: justify;
	height: 500px;
}

.circle {
	width: 100%;
}

.description p {
	text-align: justify;	
	line-height: 20px;
}

.description {
	text-align: center;
	width: 90%;
}

.description h2 {
	font-size: 20px;
}

.description a {
	text-decoration: underline;
}

.description a:hover {
	color: #d5767a;
	cursor: pointer;
}

/*WRAPPERS===============================================*/
.wrapper {
	width: 75%;/*980px*/
	margin: auto;
	clear: both;
	overflow:hidden;
}

.wrapper_2 {
	width: 80%;
	margin: auto;
	clear: both;
	overflow:hidden;
	
}

.wrapper_3 {
	width: 100%;
	margin: auto;
	clear: both;
	overflow:hidden;
}